<% if user_signed_in? %>
	<header>
		Angular Casts - Welcome <%= current_user.email %>
	</header>

	<div>
		<label>Name:</label>
		<input type="text" ng-model="yourName" placeholder="Enter a name here">
		<hr>
		<h1>Hello {{yourName}}!</h1>
	</div>

	<div ng-controller="ScreencastsCtrl">
		<div id="screencast-list-container">
		<%= link_to 'Logged In [click to logout]', destroy_user_session_path, method: :delete %>
			<ul>
				<li ng-repeat="screencast in screencasts" ng-click="showScreencast(screencast, $index)">
					<h3 ng-class="{active: $index == selectedRow}">{{screencast.title}} <small>({{screencast.duration}})</small></h3>
				</li>
			</ul>
		</div>
		<div id="screencast-view-container" ng-show="selectedScreencast">
			<h2>{{selectedScreencast.title}}</h2>
			<p>{{selectedScreencast.summary}}</p>
			<div flow-player="" id="player"></div>
				<p>Published at {{selectedScreencast.published_at | date: 'mediumDate'}} - <a ng-href="{{selectedScreencast.link}}">{{selectedScreencast.link}}</a></p>
			</div>
		</div>
	</div>

<% else %>
	<%= render 'devise/sessions/new.html.erb' %>
<% end %>


