<h1>Watchlist</h1>
<form>
  <input type="text" ng-model='newSymbol' placeholder="Enter a symbol">
  <input type="submit" value="Add">
</form>
<div ng-controller="PeopleCtrl">
  <ul>
    <li ng-repeat="person in people">
      {{person.name}}, {{person.age}}
    </li>
  </ul>
</div>
