@import "bootstrap";

header {
  background-color: #4F4F4F;
  color: #fff;
  position: absolute;
  height: 36px;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  padding-left: 15px;
}

body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

input.user_input{
  height: 40px;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
div.login_form{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}