@import "bootstrap";

header {
  background-color: #4F4F4F;
  color: #fff;
  position: absolute;
  height: 36px;
  top: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 36px;
  font-weight: bold;
  padding-left: 15px;
}

body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

input.user_input{
  height: 40px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

div.container{
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	div.header{
		background-color: black;
		width: 100%;
		height: 20px;
		margin: 0 auto;
		color: white;
		div.remember_label{
			font-weight: normal;
			width: 20%;
			display: inline-block;
			height: 20px;
			vertical-align: middle;
		}
		div.right_align{
			text-align: right;
			width: 80%;
			display: inline-block;
			height: 20px;
		}
	}
	div.login_form{
		border: 1px solid grey;
		padding: 10px;
		border-radius: 7px;
		width: 500px;
		margin: 0 auto;
		text-align: center;
		position:absolute;
		top:35%;
		right:0;
		left:0;
	}
}